.DS_Store
bin/
/.idea
.idea
.env
.vscode

logs
# 忽略所有 ent 下的内容
ent/*

# 但保留 schema 和 gen 目录
!ent/schema/
!ent/schema/**
!ent/generate.go

/uploads
/storage
dist/
*.db

.cursor/
nul
main.exe
database
#pkms.exe
#pkms